.icon {
  cursor: pointer;
  transition: 1s;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.icon:hover {
  box-shadow: 0.5em 0.5em 1.5em -0.4em #000;
  transform: translateY(-1.25em);
}

.icon:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.icon:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.icon-wanita {
  position: fixed;
  bottom: -1%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.text-peka {
  position: fixed;
  opacity: 1;
  left: 50%;
  margin-left: -20px;
  bottom: 60%;
}

.apa-itu-peka {
  padding: 10px 0px;
  color: #f337ab;
  width: 700px;
  margin-bottom: 20px;
  font-size: 16px;
}

.disable-hover:hover {
  transform: translateY(0);
  box-shadow: 0.1px 1px 0px 0px rgba(0, 0, 0, 0.3);
}

.apa-itu-kanker {
  padding: 10px 0px;
  color: #f337ab;
  width: 700px;
  font-size: 16px;
}

.pencegahan-title {
  width: 850px;
}

.tipe-title {
  width: 550px;
}

.left2-cegah {
  z-index: -99;
  left: 50%;
  transform: translate(-250%, 400%);
}

.right2-cegah {
  z-index: 10;
  transform: translate(-50%, 400%);
}

.tipe-desc {
  width: 400px;
  height: 230px;
}

.tipe-desc-column {
  flex-direction: row;
  display: flex;
}

.font-desc {
  font-size: 16px;
}

.tipe-padding {
  padding: 10px 0px;
}

.mitos-title {
  width: 510px;
}

.mitos-padding {
  padding: 20px;
}

.faq-title {
  width: 470px;
}

.faqs-padding {
  padding: 50px;
}

.faqs-center {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 1s;
  z-index: -12;
}

.rectangle-oval {
  border-radius: 150px;
  height: 100px;
  width: 500px;
  background-color: #000;
  color: #fff;
}

.rectangle-oval-line {
  border-radius: 10px;
  height: 330px;
  width: 330px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle-oval-tele {
  border-radius: 10px;
  height: 330px;
  width: 330px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  text-decoration-line: underline;
  text-decoration-color: #fff;
}

.icon-line {
  margin: 10px 0px;
  width: 250px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .icon-false {
    left: 50%;
    bottom: 35%;
    z-index: -99;
    margin-left: -150px;
    transition: 1s;
    opacity: 0;
  }

  .icon-true {
    left: 50%;
    bottom: 35%;
    z-index: 99;
    margin-left: -150px;
    transition: 1s;
    opacity: 1;
  }
  .icon-false-wa {
    right: 50%;
    margin-right: -150px;
    bottom: 20%;
    z-index: -99;
    transition: 1s;
    opacity: 0;
  }

  .icon-line {
    margin: 10px 0px;
    width: 150px;
  }

  .icon-true-wa {
    right: 50%;
    margin-right: -150px;
    bottom: 20%;
    z-index: 99;
    transition: 1s;
    opacity: 1;
  }

  .icon-peka-selected {
    left: 50%;
    bottom: 2%;
    z-index: 1;
    margin-left: -150px;
    width: 300px;
  }

  .rectangle-oval {
    border-radius: 150px;
    height: 75px;
    width: 300px;
    background-color: #000;
    color: #fff;
  }

  .rectangle-oval-line {
    border-radius: 10px;
    height: 230px;
    width: 300px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rectangle-oval-tele {
    border-radius: 10px;
    height: 100px;
    width: 300px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .faqs-center {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 1s;
    z-index: -12;
  }

  .faqs-padding {
    padding: 20px;
  }

  .faq-title {
    width: 350px;
  }

  .mitos-padding {
    padding: 10px;
  }

  .mitos-title {
    width: 350px;
  }

  .tipe-padding {
    padding: 0px 0px;
  }

  .tipe-desc-column {
    flex-direction: column;
    display: flex;
  }

  .tipe-desc {
    width: 350px;
    height: 150px;
  }

  .gejala-title {
    width: 320px;
  }

  .tipe-title {
    width: 350px;
  }

  .pencegahan-title {
    width: 390px;
  }

  .font-title {
    font-size: 10px;
  }

  .font-desc {
    font-size: 12px;
  }

  .apa-itu-peka {
    padding: 10px 0px;
    color: #f337ab;
    width: 350px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .apa-itu-kanker {
    padding: 10px 0px;
    color: #f337ab;
    width: 350px;
    font-size: 14px;
  }

  .icon-wanita {
    position: fixed;
    left: 50%;
    bottom: 60%;
  }

  .text-peka {
    position: fixed;
    opacity: 1;
    width: 200px;
    justify-content: center;
    display: flex;
    align-items: center;
    left: 50%;
    bottom: 81%;
    margin-left: -100px;
  }

  .icon {
    cursor: pointer;
    transition: 1s;
    width: 130px;
    height: 50px;
    border-radius: 5%;
  }
  .line-height {
    line-height: 150%;
  }

  .icon0 {
    left: 50%;
    bottom: 2%;
    z-index: 1;
    margin-left: -150px;
    width: 300px;
  }
  .icon1 {
    left: 10%;
    bottom: 15%;
  }
  .icon2 {
    left: 10%;
    bottom: 25%;
  }
  .icon3 {
    left: 10%;
    bottom: 35%;
  }
  .icon4 {
    left: 10%;
    bottom: 45%;
  }
  .icon5 {
    right: 10%;
    bottom: 45%;
  }
  .icon6 {
    right: 10%;
    bottom: 35%;
  }
  .icon7 {
    right: 10%;
    bottom: 25%;
  }
  .icon8 {
    right: 10%;
    bottom: 15%;
  }

  .hide-icon {
    left: 45%;
    bottom: 5%;
    opacity: 0;
    z-index: 0;
  }

  .hide-icon-right {
    right: 45%;
    bottom: 5%;
    opacity: 0;
    z-index: 0;
  }

  .icon-move {
    left: 50%;
    bottom: 2%;
    z-index: 99;
    margin-left: -50px;
  }

  .icon-move-right {
    right: 50%;
    bottom: 2%;
    z-index: 99;
    margin-right: -50px;
  }

  .fade {
    transition: 1s;
    padding: 10px;
    position: fixed;
  }

  .center {
    left: 50%;
    transform: translate(-50%, -100%);
  }

  .down {
    z-index: 5;
    transform: translate(-50%, 1%);
  }

  .down-down {
    transform: translate(-50%, 100%);
  }

  .gejala {
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
    position: fixed;
    width: 340px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .myth {
    transition: 1s;
    opacity: 0;
    position: fixed;
    bottom: 0;
    z-index: -5;
  }

  .down-myth {
    opacity: 1;
    bottom: 0;
    z-index: 5;
  }

  .tingkatan {
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
    position: fixed;
    width: 1000px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .left {
    z-index: 10;
    left: 50%;
    transform: translate(-250%, 200%);
  }

  .right {
    transform: translate(-50%, 150%);
  }

  .from-right {
    z-index: 10;
    right: 50%;
    transform: translate(250%, 300%);
  }

  .to-left {
    transform: translate(50%, 200%);
  }

  .left2 {
    z-index: 10;
    left: 50%;
    transform: translate(-250%, 400%);
  }

  .right2 {
    transform: translate(-50%, 300%);
  }

  .left2-cegah {
    left: 50%;
    transform: translate(-250%, 700%);
  }

  .right2-cegah {
    z-index: 10;
    transform: translate(-50%, 640%);
  }

  .from-right2 {
    z-index: 10;
    right: 50%;
    transform: translate(250%, 500%);
  }

  .to-left2 {
    transform: translate(50%, 400%);
  }

  .left3 {
    z-index: 10;
    left: 50%;
    transform: translate(-250%, 600%);
  }

  .right3 {
    transform: translate(-50%, 620%);
  }

  .from-right3 {
    right: 50%;
    transform: translate(250%, 700%);
    z-index: 10;
  }

  .to-left3 {
    transform: translate(50%, 720%);
  }

  .awan1 {
    width: 200px;
  }

  .awan2 {
    width: 300px;
  }

  .awan3 {
    width: 300px;
  }

  .awan4 {
    width: 400px;
  }

  .awan5 {
    width: 300px;
  }

  .awan6 {
    width: 400px;
  }

  .awan7 {
    width: 300px;
  }

  .pencegahan-right {
    transform: translate(-50%, 150%);
  }

  .pencegahan-to-left {
    transform: translate(50%, 250%);
  }

  .pencegahan-to-left2 {
    transform: translate(50%, 440%);
  }

  .pencegahan-right3 {
    transform: translate(-50%, 540%);
  }

  .from-bottom1 {
    transition: 0.5s;
    left: 50%;
    bottom: 0;
    position: fixed;
    opacity: 0;
    z-index: -10;
  }

  .to-top1 {
    opacity: 1;
    margin-left: -175px;
    bottom: 80%;
    z-index: 10;
  }

  .from-bottom2 {
    transition: 1s;
    left: 50%;
    bottom: 0;
    position: fixed;
    opacity: 0;
    z-index: -12;
  }

  .to-top2 {
    opacity: 1;
    bottom: 73%;
    z-index: 10;
    margin-left: -175px;
  }

  .from-bottom3 {
    transition: 1s;
    left: 50%;
    bottom: 0;
    position: fixed;
    opacity: 0;
    z-index: -12;
  }

  .to-top3 {
    opacity: 1;
    bottom: 64%;
    z-index: 12;
    margin-left: -175px;
  }

  .from-bottom4 {
    transition: 0.5s;
    left: 50%;
    bottom: 0;
    position: fixed;
    opacity: 0;
    z-index: -10;
  }

  .to-top4 {
    opacity: 1;
    z-index: 10;
    bottom: 55%;
    margin-left: -175px;
  }

  .from-bottom5 {
    transition: 1s;
    left: 50%;
    bottom: 0;
    position: fixed;
    opacity: 0;
    z-index: -10;
  }

  .to-top5 {
    opacity: 1;
    bottom: 46%;
    z-index: 10;
    margin-left: -175px;
  }

  .from-bottom6 {
    transition: 1s;
    left: 50%;
    bottom: 0;
    position: fixed;
    opacity: 0;
    z-index: -10;
  }

  .to-top6 {
    opacity: 1;
    bottom: 39%;
    z-index: 10;
    margin-left: -175px;
  }

  .from-bottom7 {
    transition: 1s;
    left: 50%;
    bottom: 0;
    position: fixed;
    opacity: 0;
    z-index: -12;
  }

  .to-top7 {
    opacity: 1;
    bottom: 30%;
    z-index: 30;
    margin-left: -175px;
  }
  .from-bottom8 {
    transition: 1s;
    left: 50%;
    bottom: 0;
    position: fixed;
    opacity: 1;
    z-index: -2;
  }
  .to-top8 {
    opacity: 1;
    bottom: 21%;
    z-index: 13;
    margin-left: -175px;
  }
  .fade-center {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 1s;
    width: 100%;
    z-index: -12;
  }

  .fade-center-aktif {
    top: 50%;
    opacity: 1;
    z-index: 20;
  }

  .fade-center-aktif-faqs {
    position: fixed;
    left: 50%;
    top: 40%;
    opacity: 1;
    z-index: 20;
  }

  .wanita {
    opacity: 1;
    transition: 1s;
  }

  .wanita-fade {
    opacity: 0;
  }
  .hide-icon-gejala {
    left: 3%;
    bottom: 1%;
    opacity: 0;
    z-index: 0;
  }

  .hide-icon-gejala-right {
    right: 77%;
    bottom: 1%;
    opacity: 0;
    z-index: 0;
  }
  .icon-move-gejala {
    left: 3%;
    bottom: 1%;
    z-index: 99;
  }

  button:hover {
    cursor: pointer;
  }

  button {
    background: #fff;
    outline: none;
    position: relative;
    border: 3px solid #111;
    padding: 10px 50px;
    overflow: hidden;
    color: #f337ab;
    border-radius: 10px;
  }

  /*button:before (attr data-hover)*/
  button:hover:before {
    opacity: 1;
    transform: translate(0, 0);
    padding: 10px;
  }
  button:before {
    content: attr(data-hover);
    position: absolute;
    top: 1.1em;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 0.8em;
    opacity: 0;
    transform: translate(-100%, 0);
    transition: all 0.3s ease-in-out;
  }
  /*button div (button text before hover)*/
  button:hover div {
    opacity: 0;
    transform: translate(100%, 0);
  }
  button div {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 0.8em;
    transition: all 0.3s ease-in-out;
  }

  .tingkatan-height {
    height: 500px;
  }

  .diagnosa-height {
    height: 500px;
  }

  .bottom-right-hide {
    bottom: 0%;
    left: 10%;
    opacity: 0;
    transition: 1s;
    position: fixed;
    z-index: -90;
  }

  .bottom-right-bottom {
    bottom: 1%;
    left: 5%;
    opacity: 1;
    z-index: 1;
  }

  .bottom-left-hide {
    bottom: 0%;
    right: 10%;
    opacity: 0;
    transition: 1s;
    position: fixed;
    z-index: -10;
  }

  .bottom-left-top {
    bottom: 70%;
    right: 5%;
    opacity: 1;
    z-index: 1;
  }

  .bottom-left-bottom {
    bottom: 1%;
    right: 5%;
    opacity: 1;
    z-index: 1;
  }

  .icon:hover {
    box-shadow: 0em 0em 0em 0em #000;
    transform: translateY(0em);
  }

  .icon:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(0em);
  }

  .icon:active {
    box-shadow: 0 5px #666;
    transform: translateY(0px);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 600px) {
  .text-peka {
    position: fixed;
    opacity: 1;
    left: 50%;
    margin-left: -20px;
    bottom: 50%;
  }

  .line-height {
    line-height: 150%;
  }

  .icon0 {
    left: 50%;
    bottom: 10%;
    z-index: 1;
    margin-left: -250px;
    transition: 1s;
  }

  .icon-false {
    left: 50%;
    bottom: 10%;
    z-index: -99;
    margin-left: -250px;
    transition: 1s;
    opacity: 0;
  }

  .icon-true {
    left: 40%;
    bottom: 30%;
    z-index: 99;
    margin-left: 250px;
    transition: 1s;
    opacity: 1;
  }
  .icon-false-wa {
    right: 50%;
    bottom: 10%;
    z-index: -99;
    margin-left: 250px;
    transition: 1s;
    opacity: 0;
  }

  .icon-true-wa {
    right: 40%;
    bottom: 30%;
    z-index: 99;
    margin-right: 250px;
    transition: 1s;
    opacity: 1;
  }

  .icon-peka-selected {
    transition: 1s;
    left: 50%;
    bottom: 15%;
    z-index: 1;
    margin-left: -250px;
  }

  .icon1 {
    left: 1%;
    bottom: 5%;
  }
  .icon2 {
    left: 5%;
    bottom: 31%;
  }
  .icon3 {
    left: 13%;
    bottom: 55%;
  }
  .icon4 {
    left: 30%;
    bottom: 72%;
  }
  .icon5 {
    right: 30%;
    bottom: 72%;
  }
  .icon6 {
    right: 13%;
    bottom: 55%;
  }
  .icon7 {
    right: 5%;
    bottom: 31%;
  }
  .icon8 {
    right: 1%;
    bottom: 5%;
  }

  .hide-icon {
    left: 45%;
    bottom: 5%;
    opacity: 0;
    z-index: 0;
  }

  .hide-icon-right {
    right: 45%;
    bottom: 5%;
    opacity: 0;
    z-index: 0;
  }

  .icon-move {
    left: 50%;
    bottom: 2%;
    z-index: 99;
    margin-left: -100px;
  }

  .icon-move-right {
    right: 50%;
    bottom: 2%;
    z-index: 99;
    margin-right: -100px;
  }

  .fade {
    transition: 1s;
    padding: 10px;
    position: fixed;
  }

  .center {
    left: 50%;
    transform: translate(-50%, -100%);
  }

  .down {
    z-index: 99;
    transform: translate(-50%, 1%);
  }
  .down-down {
    transform: translate(-50%, 100%);
  }

  .gejala {
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
    position: fixed;
    width: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .myth {
    transition: 1s;
    opacity: 0;
    position: fixed;
    bottom: 0;
    z-index: -5;
  }

  .down-myth {
    opacity: 1;
    bottom: 0;
    z-index: 5;
  }

  .tingkatan {
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
    position: fixed;
    width: 1000px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .left {
    left: 50%;
    transform: translate(-250%, 200%);
  }

  .right {
    z-index: 99;
    transform: translate(-50%, 200%);
  }

  .from-right {
    right: 50%;
    transform: translate(250%, 300%);
  }

  .to-left {
    z-index: 99;
    transform: translate(50%, 300%);
  }

  .left2 {
    left: 50%;
    z-index: 99;
    transform: translate(-250%, 400%);
  }

  .right2 {
    z-index: 99;
    transform: translate(-50%, 400%);
  }

  .from-right2 {
    z-index: 99;
    right: 50%;
    transform: translate(250%, 500%);
  }

  .to-left2 {
    z-index: 99;
    transform: translate(50%, 500%);
  }

  .left3 {
    z-index: 99;
    left: 50%;
    transform: translate(-250%, 600%);
  }

  .right3 {
    z-index: 99;
    transform: translate(-50%, 600%);
  }

  .from-right3 {
    z-index: 99;
    right: 50%;
    transform: translate(250%, 700%);
  }

  .to-left3 {
    transform: translate(50%, 700%);
  }

  .awan1 {
    width: 200px;
  }

  .awan2 {
    width: 300px;
  }

  .awan3 {
    width: 300px;
  }

  .awan4 {
    width: 400px;
  }

  .awan5 {
    width: 300px;
  }

  .awan6 {
    width: 400px;
  }

  .awan7 {
    width: 300px;
  }

  .from-bottom1 {
    transition: 0.5s;
    left: 50%;
    bottom: 0;
    position: fixed;
    opacity: 0;
  }

  .to-top1 {
    opacity: 1;
    bottom: 75%;
  }

  .from-bottom2 {
    transition: 1s;
    left: 10%;
    bottom: 0;
    position: fixed;
    opacity: 0;
  }

  .to-top2 {
    opacity: 1;
    bottom: 45%;
  }

  .from-bottom3 {
    transition: 1s;
    left: 10%;
    bottom: 0;
    position: fixed;
    opacity: 0;
    z-index: -12;
  }

  .to-top3 {
    opacity: 1;
    bottom: 60%;
    z-index: 12;
  }

  .from-bottom4 {
    transition: 0.5s;
    left: 50%;
    bottom: 0;
    position: fixed;
    opacity: 0;
  }

  .to-top4 {
    opacity: 1;
    bottom: 45%;
  }

  .from-bottom5 {
    transition: 1s;
    left: 10%;
    bottom: 0;
    position: fixed;
    opacity: 0;
  }

  .to-top5 {
    opacity: 1;
    bottom: 30%;
  }

  .from-bottom6 {
    transition: 1s;
    left: 50%;
    bottom: 0;
    position: fixed;
    opacity: 0;
  }

  .to-top6 {
    opacity: 1;
    bottom: 60%;
  }
  .from-bottom7 {
    transition: 1s;
    left: 50%;
    bottom: 0;
    position: fixed;
    opacity: 0;
    z-index: -12;
  }

  .to-top7 {
    opacity: 1;
    bottom: 30%;
    z-index: 12;
  }
  .from-bottom8 {
    transition: 1s;
    left: 10%;
    bottom: 0;
    position: fixed;
    opacity: 1;
    z-index: -2;
  }
  .to-top8 {
    opacity: 1;
    bottom: 75%;
    z-index: 1;
  }
  .fade-center {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 1s;
    width: 100%;
    z-index: -12;
  }

  .fade-center-aktif {
    top: 40%;
    opacity: 1;
    z-index: 20;
  }

  .fade-center-aktif-faqs {
    top: 40%;
    opacity: 1;
    z-index: 20;
  }

  .wanita {
    opacity: 1;
    transition: 1s;
  }

  .wanita-fade {
    opacity: 0;
  }
  .hide-icon-gejala {
    left: 3%;
    bottom: 1%;
    opacity: 0;
    z-index: 0;
  }

  .hide-icon-gejala-right {
    right: 77%;
    bottom: 1%;
    opacity: 0;
    z-index: 0;
  }
  .icon-move-gejala {
    left: 3%;
    bottom: 1%;
    z-index: 99;
  }

  button:hover {
    cursor: pointer;
  }
  button {
    background: #fff;
    outline: none;
    position: relative;
    border: 3px solid #111;
    padding: 15px 50px;
    overflow: hidden;
    color: #f337ab;
    border-radius: 10px;
  }

  /*button:before (attr data-hover)*/
  button:hover:before {
    opacity: 1;
    transform: translate(0, 0);
    padding: 25px;
  }
  button:before {
    content: attr(data-hover);
    position: absolute;
    top: 1.1em;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 0.8em;
    opacity: 0;
    transform: translate(-100%, 0);
    transition: all 0.3s ease-in-out;
  }
  /*button div (button text before hover)*/
  button:hover div {
    opacity: 0;
    transform: translate(100%, 0);
  }
  button div {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 0.8em;
    transition: all 0.3s ease-in-out;
  }

  .tingkatan-height {
    height: 600px;
  }

  .diagnosa-height {
    height: inherit;
  }

  .bottom-right-hide {
    bottom: 0%;
    left: 10%;
    opacity: 0;
    transition: 1s;
    position: fixed;
    z-index: -90;
  }

  .bottom-right-bottom {
    bottom: 1%;
    left: 5%;
    opacity: 1;
    z-index: 10;
  }

  .bottom-left-hide {
    bottom: 0%;
    right: 10%;
    opacity: 0;
    transition: 1s;
    position: fixed;
    z-index: -10;
  }

  .bottom-left-top {
    bottom: 70%;
    right: 5%;
    opacity: 1;
    z-index: 10;
  }

  .bottom-left-bottom {
    bottom: 2%;
    right: 5%;
    opacity: 1;
    z-index: 10;
  }

  .right2-cegah {
    z-index: 10;
    transform: translate(-50%, 370%);
  }

  .pencegahan-right {
    transform: translate(-50%, 150%);
  }

  .pencegahan-to-left {
    transform: translate(50%, 260%);
  }

  .pencegahan-to-left2 {
    transform: translate(50%, 480%);
  }

  .pencegahan-right3 {
    transform: translate(-50%, 600%);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .icon0 {
    left: 50%;
    bottom: 10%;
    z-index: 1;
    margin-left: -250px;
    transition: 1s;
  }

  .icon-false {
    left: 50%;
    bottom: 10%;
    z-index: -99;
    margin-left: -250px;
    transition: 1s;
    opacity: 0;
  }

  .icon-true {
    left: 50%;
    bottom: 30%;
    z-index: 99;
    margin-left: 250px;
    transition: 1s;
    opacity: 1;
  }
  .icon-false-wa {
    left: 50%;
    bottom: 10%;
    z-index: -99;
    margin-left: 250px;
    transition: 1s;
    opacity: 0;
  }

  .icon-true-wa {
    right: 50%;
    bottom: 30%;
    z-index: 99;
    margin-right: 250px;
    transition: 1s;
    opacity: 1;
  }

  .text-peka {
    position: fixed;
    opacity: 1;
    left: 50%;
    margin-left: -20px;
    bottom: 60%;
  }

  /* .icon0 {
    left: 50%;
    bottom: 10%;
    z-index: 1;
    margin-left: -250px;
  } */

  .icon1 {
    left: 7%;
    bottom: 5%;
    z-index: 1;
  }

  .icon2 {
    left: 14%;
    bottom: 31%;
  }

  .icon3 {
    left: 23%;
    bottom: 55%;
  }

  .icon4 {
    left: 35%;
    bottom: 72%;
  }
  .icon5 {
    right: 35%;
    bottom: 72%;
  }
  .icon6 {
    right: 23%;
    bottom: 55%;
  }
  .icon7 {
    right: 14%;
    bottom: 31%;
  }
  .icon8 {
    right: 7%;
    bottom: 5%;
  }

  .hide-icon {
    left: 45%;
    bottom: 5%;
    opacity: 0;
    z-index: 0;
  }

  .hide-icon-gejala {
    left: 3%;
    bottom: 1%;
    opacity: 0;
    z-index: 0;
  }

  .hide-icon-gejala-right {
    right: 77%;
    bottom: 1%;
    opacity: 0;
    z-index: 0;
  }

  .hide-icon-right {
    right: 45%;
    bottom: 5%;
    opacity: 0;
    z-index: 0;
  }

  .icon-move {
    left: 50%;
    bottom: 2%;
    z-index: 99;
    margin-left: -100px;
  }

  .icon-move-gejala {
    left: 3%;
    bottom: 1%;
    z-index: 99;
  }

  .icon-move-right {
    bottom: 2%;
    z-index: 99;
    right: 50%;
    margin-right: -100px;
  }

  .fade {
    transition: 1s;
    padding: 10px;
    position: fixed;
    z-index: 99;
  }

  .center {
    left: 50%;
    transform: translate(-50%, -100%);
  }

  .down {
    transform: translate(-50%, 5%);
  }

  .down-down {
    transform: translate(-50%, 150%);
  }

  .bottom-right-hide {
    bottom: 0%;
    right: 10%;
    opacity: 0;
    transition: 1s;
    position: fixed;
    z-index: -90;
  }

  .bottom-right-top {
    bottom: 70%;
    right: 5%;
    opacity: 1;
    z-index: 10;
  }

  .bottom-right-bottom {
    bottom: 1%;
    right: 5%;
    opacity: 1;
    z-index: 10;
  }

  .myth {
    transition: 1s;
    opacity: 0;
    position: fixed;
    top: 0;
  }

  .down-myth {
    opacity: 1;
    z-index: 5;
  }

  .gejala {
    /* transition: 1s; */
    /* background-color: rgba(255, 255, 255, 0.3); */
    /* padding: 10px; */
    width: 600px;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
  }

  .tingkatan {
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
    position: fixed;
    width: 1400px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .left {
    z-index: -99;
    left: 50%;
    transform: translate(-250%, 200%);
  }

  .right {
    z-index: 99;
    transform: translate(-50%, 200%);
  }

  .from-right {
    z-index: -99;
    right: 50%;
    transform: translate(250%, 300%);
  }

  .to-left {
    z-index: 99;
    transform: translate(50%, 300%);
  }

  .left2 {
    z-index: -99;
    left: 50%;
    transform: translate(-250%, 400%);
  }

  .right2 {
    z-index: 99;
    transform: translate(-50%, 400%);
  }

  .from-right2 {
    right: 50%;
    z-index: -99;
    transform: translate(250%, 500%);
  }

  .to-left2 {
    z-index: 99;
    transform: translate(50%, 500%);
  }

  .left3 {
    left: 50%;
    z-index: -99;
    transform: translate(-250%, 600%);
  }

  .right3 {
    z-index: 99;
    transform: translate(-50%, 600%);
  }

  .from-right3 {
    z-index: -99;
    right: 50%;
    transform: translate(250%, 700%);
  }

  .to-left3 {
    z-index: 99;
    transform: translate(50%, 700%);
  }

  .fade-center {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 1s;
    width: 100%;
    z-index: -12;
  }

  .fade-center-aktif {
    top: 40%;
    opacity: 1;
    z-index: 20;
  }

  .fade-center2 {
    position: fixed;
    left: 50%;
    /* bottom: 20%; */
    /* z-index: 1; */
    margin-left: -250px;
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%, -150%); */
    /* opacity: 0; */
    /* transition: 1s; */
    /* width: 100%; */
    /* z-index: -12; */
  }

  .fade-center-aktif2 {
    top: 40%;
    /* opacity: 1; */
    z-index: 20;
  }

  .awan1 {
    width: 200px;
  }

  .awan2 {
    width: 300px;
  }

  .awan3 {
    width: 300px;
  }

  .awan4 {
    width: 400px;
  }

  .awan5 {
    width: 300px;
  }

  .awan6 {
    width: 400px;
  }

  .awan7 {
    width: 300px;
  }

  .from-bottom1 {
    transition: 0.5s;
    left: 10%;
    bottom: 0;
    position: fixed;
    opacity: 0;
  }

  .to-top1 {
    opacity: 1;
    bottom: 45%;
  }

  .from-bottom2 {
    transition: 1s;
    left: 70%;
    bottom: 0;
    position: fixed;
    opacity: 0;
  }

  .to-top2 {
    opacity: 1;
    bottom: 45%;
  }

  .from-bottom3 {
    transition: 1s;
    left: 10%;
    bottom: 0;
    position: fixed;
    opacity: 0;
  }

  .to-top3 {
    opacity: 1;
    bottom: 30%;
  }

  .from-bottom4 {
    transition: 0.5s;
    left: 40%;
    bottom: 0;
    position: fixed;
    opacity: 0;
  }

  .to-top4 {
    opacity: 1;
    bottom: 40%;
  }

  .from-bottom5 {
    transition: 1s;
    left: 40%;
    bottom: 0;
    position: fixed;
    opacity: 0;
  }

  .to-top5 {
    opacity: 1;
    bottom: 60%;
  }

  .from-bottom6 {
    transition: 1s;
    left: 70%;
    bottom: 0;
    position: fixed;
    opacity: 0;
  }

  .to-top6 {
    opacity: 1;
    bottom: 30%;
  }
  .from-bottom7 {
    transition: 1s;
    left: 70%;
    bottom: 0;
    position: fixed;
    opacity: 0;
  }

  .to-top7 {
    opacity: 1;
    bottom: 60%;
  }
  .from-bottom8 {
    transition: 1s;
    left: 10%;
    bottom: 0;
    position: fixed;
    opacity: 0;
  }
  .to-top8 {
    opacity: 1;
    bottom: 60%;
  }
  .wanita {
    opacity: 1;
    transition: 1s;
  }

  .wanita-fade {
    opacity: 0;
    z-index: -99;
  }
  .fade-center-aktif-faqs {
    top: 40%;
    opacity: 1;
    z-index: 20;
  }
  button:hover {
    cursor: pointer;
  }
  button {
    background: #fff;
    outline: none;
    position: relative;
    border: 3px solid #111;
    padding: 15px 50px;
    overflow: hidden;
    color: #f337ab;
    border-radius: 10px;
  }

  /*button:before (attr data-hover)*/
  button:hover:before {
    opacity: 1;
    transform: translate(0, 0);
    padding: 25px;
  }
  button:before {
    content: attr(data-hover);
    position: absolute;
    top: 1.1em;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 0.8em;
    opacity: 0;
    transform: translate(-100%, 0);
    transition: all 0.3s ease-in-out;
  }
  /*button div (button text before hover)*/
  button:hover div {
    opacity: 0;
    transform: translate(100%, 0);
  }
  button div {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 0.8em;
    transition: all 0.3s ease-in-out;
  }

  .line-height {
    line-height: 200%;
  }

  .tingkatan-height {
    height: 600px;
  }

  .diagnosa-height {
    height: inherit;
  }

  .right2-cegah {
    z-index: 10;
    transform: translate(-50%, 370%);
  }

  .pencegahan-right {
    z-index: 99;
    transform: translate(-50%, 150%);
  }

  .pencegahan-to-left {
    z-index: 99;
    transform: translate(50%, 260%);
  }

  .pencegahan-to-left2 {
    z-index: 99;
    transform: translate(50%, 480%);
  }

  .pencegahan-right3 {
    z-index: 99;
    transform: translate(-50%, 590%);
  }
}
