@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./fonts/Inter.ttf) format("truetype");
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
}

p {
  font-size: 18px;
  /* font-family: Inter; */
}

div {
  font-family: Inter;
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 14px;
  }
}
